<!DOCTYPE html>
<meta charset="UTF-8">
<html>
        <head>
                <title>Light Up</title>
                <meta name="description" content="">
                <meta name="author" content="">

                <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

                <link rel="stylesheet" href="static/css/normalize.css">
                <link rel="stylesheet" href="static/css/skeleton.css">
                <link rel="icon" type="image/png" href="static/images/favicon.png">
		<script src="static/js/jquery-3.3.1.min.js"></script>
		<script>
			var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
		</script>
        </head>
        <body>
                {% block content %}
                {% endblock %}
        </body>
</html>

